<!DOCTYPE html>
<html>
<head>
  <title>Kgathletics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>-->
  <script type="text/javascript">
  	$('#navbar').scrollspy()
  </script>
</head>
<body data-spy="scroll" data-target=".navbar">
	<%= render 'layouts/header' %>
	<div class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
