<!DOCTYPE html>
<html>
<head>
  <title>Kgathletics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>-->
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oleo+Script|Gochi+Hand' rel='stylesheet' type='text/css'> 
<script type="text/javascript">
  	$('#navbar').scrollspy()
	
	$(document).ready(function(){
		$('a[href^="#"]').bind('click.smoothscroll',function (e) {
		    e.preventDefault();
		    var target = this.hash,
		    $target = $(target);
		    $('html, body').stop().animate({
		        'scrollTop': $target.offset().top
		    }, 900, 'swing', function () {
		        window.location.hash = target;
		    });
		});
	});


 </script>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="100">
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</body>
</html>
